html,body {
    margin: 0;
    padding: 0;
    color-scheme: only dark;
    background: rgba(0, 0, 0, 0);
    max-width: 100vw;
    box-sizing: border-box;
}
#time {
    font-variant-numeric: tabular-nums;
    box-sizing: border-box;
    display: grid;
    align-items: center;
}
#time [hidden] {
    display: none !important;
}
#time .unit > span {
    display: none;
}
